*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

body {
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.menu__list-item {
  margin-left: 35px;
}

.menu__list-item:first-child {
  margin-left: 0;
}

.menu__list-link {
  line-height: 24px;
  color: #ffffff;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 264px;
  text-align: center;
  margin-bottom: 25px;
}

.header__text {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 50px;
}

.header__btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 17px 35px;
  margin: 0 auto;
}

.header__btn:hover {
  background-color: #fff;
  color: #c0301c;
  font-weight: bold;
}

.services {
  padding: 100px 0;
}

.services__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #555555;
}
.services__title::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid;
  margin: 29px auto;
}
.services__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}
.services__items {
  display: flex;
  padding-top: 70px;
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* about */
.about {
  padding: 100px 0;
  background-color: #f8f8f8;
}
.about__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #555555;
}
.about__title::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid;
  margin: 29px auto;
}
.about__text {
  text-align: center;
  font-size: 16px;
  color: #555555;
}

.about-description {
  display: flex;
  margin-top: 70px;
}

.about-description__text {
  color: #555555;
}

.about__team-members {
  display: flex;
  margin-top: 70px;
}
.team-member {
  margin-right: 22px;
  position: relative;
  cursor: pointer;
}
.team-member:last-child {
  margin-right: 0;
}
.team-member:hover .member-social a img {
  filter: none;
}
.team-member:hover img {
  filter: brightness(70%);
}

.team-member:hover .member-social {
  bottom: 90px;
  opacity: 1;
}

.member-social {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  opacity: 0;
  transition: 0.6s;
  text-align: center;
}
.member-social a {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 32px;
}
.member-social a:hover {
  background-color: #c0301c;
}

.member__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.member__text {
  font-size: 13px;
  color: #555555;
  text-align: center;
}

.contact {
  padding: 100px 0;
}
.contact__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #555555;
  font-weight: 400;
}
.contact__title::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid;
  margin: 29px auto;
}

.contact__text {
  text-align: center;
  margin-bottom: 70px;
}

.contact__boxs {
  display: flex;
  padding-left: 30px;
}

.contact__info {
  position: relative;
  margin-bottom: 34px;
}
.contact__info::before {
  position: absolute;
  content: "";
  background: url(../images/icon-map.png) no-repeat;
  left: -20px;
  top: 2;
  width: 12px;
  height: 17px;
}
.contact__order {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}
.contact__order::before {
  position: absolute;
  content: "";
  background: url(../images/icon-map.png) no-repeat;
  left: -20px;
  top: 2;
  width: 12px;
  height: 17px;
}
.contact__email {
  position: relative;
}
.contact__email::before {
  position: absolute;
  content: "";
  background: url(../images/icon-map.png) no-repeat;
  left: -20px;
  top: 2;
  width: 12px;
  height: 17px;
}
.contact__form-wrap {
  margin-left: 163px;
}
.contact__form {
  max-width: 730px;
  display: flex;
  flex-wrap: wrap;
}
.contact__input {
  width: 350px;
  height: 45px;
  padding: 17px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.contact__input-email {
  width: 350px;
  margin-bottom: 20px;
  height: 45px;
  padding: 17px;
}
.contact__input-subject {
  width: 350px;
  margin-right: 30px;
  height: 45px;
  padding: 17px;
}
.contact__input-name {
  width: 350px;
  height: 45px;
  padding: 17px;
}
.contact__input-area {
  width: 730px;
  margin-top: 20px;
  padding: 17px 100px 77px 17px;
}
.contact__submit {
  margin-top: 30px;
  width: 170px;
  padding: 17px 36px;
  cursor: pointer;
  background-color: #fff;
  font-family: "Roboto Slab";
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
  border: 1px solid #555555;
}
.latest_works {
  padding: 100px 0;
  background-color: #ffffff;
}
.latest_works_title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #555555;
  font-weight: 400;
}
.latest_works_title::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid;
  margin: 29px auto;
}
.latest_works_list {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", sans-serif;
}
.latest_works_list_item {
  margin-left: 25px;
}
.latest_works_list_item:first-child {
  margin-left: 0;
}
.latest_works_list_link {
  line-height: 24px;
  color: #555555;
}
.latest_works_list_link:hover {
  color: #c0301c;
}
.latest_images {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works {
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
}
.latest_images_img {
  display: block;
}

.works_back {
  display: inline-block;
  position: absolute;
  background: rgba(227, 77, 77, 0.7);
  color: #f72424;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 320px;
}
.works:hover .works_back {
  opacity: 1;
}
.works_back_title {
  font-family: "Montserrat", sans-serif;
  margin-top: 106px;
  font-size: 18px;
}
.works_back_text {
  font-family: "Roboto Slab", sans-serif;
  margin-top: 18px;
  font-size: 12px;
}
.works_back_link {
  display: inline-block;
  font-family: "Roboto Slab", sans-serif;
  margin-top: 26px;
  font-size: 14px;
  border-radius: 2px;
  padding: 13px 20px;
  margin-top: 26px;
  background-color: #fff;
  color: #c0301c;
  font-weight: bold;
}
.get_in_touch {
  background: url(../images/rectangle_14_copy_871.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: inset 0 0 0 100vw rgba(231, 40, 40, 0.5);
}
.git_text {
  padding-top: 100px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
}
.btn {
  margin-top: 54px;
  padding-bottom: 100px;
}
.git_btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 0 auto;
}
.git_btn:hover {
  background-color: #fff;
  color: #c0301c;
  font-weight: bold;
}
footer {
  background-color: #c0301c;
}
.footer_links {
  padding-top: 100px;
  text-align: center;
}
.footer_links::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid;
  margin: 29px auto;
  color: #ffffff;
}
.footer_text {
  font-family: "Roboto Slab", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 100px;
  text-align: center;
}
